<form id="facultiesEditForm" name="facultiesEditForm" role="form" novalidate show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
        <h4 class="modal-title" id="myToDoLabel">Edit College Fund Paid</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="form-group" ng-show="true">
                <label for="collegeFundId" class="control-label col-xs-4">College Fund</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <college-fund-paid-selection id="collegeFundId" name="collegeFundId" class="form-control" ng-model="ctrl.studentCollegeFundPaid.collegeFundId"></college-fund-paid-selection>
                </div>
            </div>

            <div class="form-group" ng-show="true">
                <label for="collegeFundPaidYears" class="control-label col-xs-4">Years Paid:</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="collegeFundPaidYears" name="collegeFundPaidYears" type="text" class="form-control text ui-widget-content ui-corner-all" ng-model="ctrl.studentCollegeFundPaid.collegeFundPaidYears"></input>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.save()">
            <span class="glyphicon glyphicon-save"></span>
            Save
        </button>
    </div>

</form>