<h1>Test Page</h1>

<h2>Searches</h2>

<h4>Title</h4>
Title 1:
<title-lookup title-id="1"></title-lookup><br> Title 2:
<title-lookup title-id="2"></title-lookup><br> Title 3:
<title-lookup title-id="3"></title-lookup><br> Title 4:
<title-lookup title-id="4"></title-lookup><br> Title 5555:
<title-lookup title-id="5555"></title-lookup><br>

<h4>Attendance Code</h4>
AttendanceCode 1:
<attendance-code-lookup attendance-code-id="1"></attendance-code-lookup><br> AttendanceCode 2:
<attendance-code-lookup attendance-code-id="2"></attendance-code-lookup><br>

<h4>ContactType</h4>
ContactType 1:
<contact-type-lookup contact-type-id="1"></contact-type-lookup><br> ContactType 2:
<contact-type-lookup contact-type-id="2"></contact-type-lookup><br> ContactType 3:
<contact-type-lookup contact-type-id="3"></contact-type-lookup><br>

<h4>AcademicYear</h4>
AcademicYear 1:
<academic-year-lookup academic-year-id="15"></academic-year-lookup><br> AcademicYear 2:
<academic-year-lookup academic-year-id="16"></academic-year-lookup><br>

<h4>ApplicationStatus</h4>
ApplicationStatus 1:
<application-status-lookup application-status-id="1"></application-status-lookup><br> ApplicationStatus 2:
<application-status-lookup application-status-id="2"></application-status-lookup><br>

<h4>CollegeFundPaid</h4>
CollegeFundPaid 1:
<college-fund-paid-lookup college-fund-paid-id="1"></college-fund-paid-lookup><br> CollegeFundPaid 2:
<college-fund-paid-lookup college-fund-paid-id="2"></college-fund-paid-lookup><br>

<h4>Ethnicity</h4>
Ethnicity 1:
<ethnicity-lookup ethnicity-id="31"></ethnicity-lookup><br> Ethnicity 2:
<ethnicity-lookup ethnicity-id="32"></ethnicity-lookup><br>

<h4>Gender</h4>
Gender 1:
<gender-lookup gender-id="1"></gender-lookup><br> Gender 2:
<gender-lookup gender-id="2"></gender-lookup><br>

<h4>Level</h4>
Level 1:
<level-lookup level-id="1"></level-lookup><br> Level 2:
<level-lookup level-id="2"></level-lookup><br>

<h4>Nationality</h4>
Nationality 1:
<nationality-lookup nationality-id="1"></nationality-lookup><br> Nationality 2:
<nationality-lookup nationality-id="2"></nationality-lookup><br>

<h4>OfferType</h4>
OfferType 1:
<offer-type-lookup offer-type-id="1"></offer-type-lookup><br> OfferType 2:
<offer-type-lookup offer-type-id="2"></offer-type-lookup><br>

<h4>SchoolType</h4>
SchoolType 1:
<school-type-lookup school-type-id="1"></school-type-lookup><br> SchoolType 2:
<school-type-lookup school-type-id="2"></school-type-lookup><br>

<h4>StudentType</h4>
StudentType 1:
<student-type-lookup student-type-id="1"></student-type-lookup><br> StudentType 2:
<student-type-lookup student-type-id="2"></student-type-lookup><br>

<h4>EntryQualificationType</h4>
EntryQualificationType 1:
<entry-qualification-type-lookup entry-qualification-type-id="1"></entry-qualification-type-lookup><br> EntryQualificationType 2:
<entry-qualification-type-lookup entry-qualification-type-id="2"></entry-qualification-type-lookup><br>

<h4>EntryQualification</h4>
EntryQualification 1:
<entry-qualification-lookup entry-qualification-id="1"></entry-qualification-lookup><br> EntryQualification 2:
<entry-qualification-lookup entry-qualification-id="2"></entry-qualification-lookup><br>

<h4>AimType</h4>
AimType 1:
<aim-type-lookup aim-type-id="1"></aim-type-lookup><br> AimType 2:
<aim-type-lookup aim-type-id="3"></aim-type-lookup><br>

<h4>NoteType</h4>
NoteType 1:
<note-type-lookup note-type-id="1"></note-type-lookup><br> NoteType 2:
<note-type-lookup note-type-id="2"></note-type-lookup><br>

<h4>ProgrammeType</h4>
ProgrammeType 1:
<programme-type-lookup programme-type-id="1"></programme-type-lookup><br> ProgrammeType 2:
<programme-type-lookup programme-type-id="2"></programme-type-lookup><br>

<h4>StaffType</h4>
StaffType 1:
<staff-type-lookup staff-type-id="1"></staff-type-lookup><br> StaffType 2:
<staff-type-lookup staff-type-id="2"></staff-type-lookup><br>

<h4>PossibleGrade</h4>
PossibleGrade 1:
<possible-grade-lookup possible-grade-id="1"></possible-grade-lookup><br> PossibleGrade 2:
<possible-grade-lookup possible-grade-id="2"></possible-grade-lookup><br>

<h4>RestrictedUseIndicator</h4>
RestrictedUseIndicator 1:
<restricted-use-indicator-lookup restricted-use-indicator-id="1"></restricted-use-indicator-lookup><br> RestrictedUseIndicator 2:
<restricted-use-indicator-lookup restricted-use-indicator-id="2"></restricted-use-indicator-lookup><br>

<h4>SchoolPriority</h4>
SchoolPriority 1:
<school-priority-lookup school-priority-id="1"></school-priority-lookup><br> SchoolPriority 2:
<school-priority-lookup school-priority-id="2"></school-priority-lookup><br>

<h4>SpecialCategory</h4>
SpecialCategory 1:
<special-category-lookup special-category-id="1"></special-category-lookup><br> SpecialCategory 2:
<special-category-lookup special-category-id="2"></special-category-lookup><br>

<h4>CompletionStatus</h4>
CompletionStatus 1:
<completion-status-lookup completion-status-id="1"></completion-status-lookup><br> CompletionStatus 2:
<completion-status-lookup completion-status-id="2"></completion-status-lookup><br>

<h4>Department</h4>
Department 1:
<department-lookup department-id="1"></department-lookup><br> Department 2:
<department-lookup department-id="2"></department-lookup><br>

<h4>ExamBoard</h4>
ExamBoard 1:
<exam-board-lookup exam-board-id="1"></exam-board-lookup><br> ExamBoard 2:
<exam-board-lookup exam-board-id="10"></exam-board-lookup><br>

<h4>FundingModel</h4>
FundingModel 1:
<funding-model-lookup funding-model-id="1"></funding-model-lookup><br> FundingModel 2:
<funding-model-lookup funding-model-id="2"></funding-model-lookup><br>

<h4>Outcome</h4>
Outcome 1:
<outcome-lookup outcome-id="1"></outcome-lookup><br> Outcome 2:
<outcome-lookup outcome-id="2"></outcome-lookup><br>

<h4>Period</h4>
Period 1:
<period-lookup period-id="1"></period-lookup><br> Period 2:
<period-lookup period-id="2"></period-lookup><br>

<h4>PriorAttainment</h4>
PriorAttainment 1:
<prior-attainment-lookup prior-attainment-id="1"></prior-attainment-lookup><br> PriorAttainment 2:
<prior-attainment-lookup prior-attainment-id="2"></prior-attainment-lookup><br>

<h4>Room</h4>
Room 1:
<room-lookup room-id="1"></room-lookup><br> Room 2:
<room-lookup room-id="2"></room-lookup><br>

<h4>School</h4>
School 1:
<school-lookup school-id="1"></school-lookup><br> School 2:
<school-lookup school-id="2"></school-lookup><br>

<h4>Subject</h4>
Subject 1:
<subject-lookup subject-id="1"></subject-lookup><br> Subject 2:
<subject-lookup subject-id="2"></subject-lookup><br>

<h4>TutorGroup</h4>
TutorGroup 1:
<tutor-group-lookup tutor-group-id="1"></tutor-group-lookup><br> TutorGroup 2:
<tutor-group-lookup tutor-group-id="2"></tutor-group-lookup><br>

<h4>WithdrawalReason</h4>
WithdrawalReason 1:
<withdrawal-reason-lookup withdrawal-reason-id="1"></withdrawal-reason-lookup><br> WithdrawalReason 2:
<withdrawal-reason-lookup withdrawal-reason-id="2"></withdrawal-reason-lookup><br>

<h4>YearGroup</h4>
YearGroup 1:
<year-group-lookup year-group-id="1"></year-group-lookup><br> YearGroup 2:
<year-group-lookup year-group-id="2"></year-group-lookup><br>

<h4>Correspondence Type</h4>
CorrespondenceType 1:
<correspondence-type-lookup correspondence-type-id="1"></correspondence-type-lookup><br> CorrespondenceType 2:
<correspondence-type-lookup correspondence-type-id="2"></correspondence-type-lookup><br>

<h4>Letter Type</h4>
LetterType 1:
<letter-type-lookup letter-type-id="1"></letter-type-lookup><br> LetterType 2:
<letter-type-lookup letter-type-id="2"></letter-type-lookup><br>