<h3>StudentSpecialCategory Details</h3>
<input ng-model=ctrl.studentId></input><button class="btn btn-sm" ng-click="ctrl.getStudentSpecialCategory()">StudentSpecialCategory()</button>
<br />

<student-special-category-details student-special-categories="ctrl.studentSpecialCategories"></student-special-category-details>


<h3>StudentSpecialCategory Editor</h3>

<student-special-category-editor student-id="ctrl.studentId" student-special-categories="ctrl.studentSpecialCategories"></student-special-category-editor>