<form id="yearGroupsEditForm" name="yearGroupsEditForm" role="form" novalidate show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
        <h4 class="modal-title" id="myToDoLabel">Add/Edit Year Group</h4>
    </div>

    <div class="modal-body">
        <div class="row">

            <div class="form-group" ng-show="true">
                <label for="id" class="control-label col-xs-4">Year Group ID</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="id" name="id" type="text" class="form-control" readonly ng-model="ctrl.yearGroups.id">
                </div>
            </div>
            <div class="form-group" ng-show="true">
                <label for="code" class="control-label col-xs-4">Code</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="code" name="code" type="text" class="form-control" ng-model="ctrl.yearGroups.code">
                </div>
            </div>

            <div class="form-group" ng-show="true">
                <label for="description" class="control-label col-xs-4">Description:</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="description" name="description" type="text" class="form-control text ui-widget-content ui-corner-all" ng-model="ctrl.yearGroups.description"></input>
                </div>
            </div>

            <div class="form-group" ng-show="true">
                <label for="excludeTTCheck" class="control-label col-xs-4">Exclude TT Check:</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="excludeTTCheck" name="excludeTTCheck" type="checkBox" class="form-control text ui-widget-content ui-corner-all" ng-model="ctrl.yearGroups.excludeTTCheck"></input>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.save()">
            <span class="glyphicon glyphicon-save"></span>
            Save
        </button>
    </div>

</form>