<h3>Main Menu</h3>
<ul class="side-bar side-bar-global">
    <li permission="'ROLE_Staff'"><a href="#" ui-sref="student-editor">Student Record</a></li>
    <li permission="'ROLE_Staff'"><a href="#" ui-sref="course-record">Course Records</a></li>
    <li permission="'ROLE_Staff'"><a href="#" ui-sref="site.reports">Reports</a></li>
    <li permission="'ROLE_Developer'"><a href="#" ui-sref="test">Tests</a></li>
</ul>
<div class="alert alert-info" role="alert">
    <b>Please be aware that this side menu will be removed in a later release of CID. The navigation options available here are also available from the top menu.</b>
</div>