<div class="row">
    <div class="col-xs-12">
        <h3>Edi File Generator - Exam Series Selector</h3>
    </div>
</div>
<div class="row" ng-hide="ctrl.generatedMessage.length == 0">
    <div class="col-xs-12">
        EDI Generation Status Messages:
        <ul ng-hide="ctrl.generatedMessage.length == 0">
            <li ng-repeat="message in ctrl.generatedMessage">{{ message }}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <edi-generator-table exam-series-list="ctrl.examSeriesList"></edi-generator-table>
        <button class="btn btn-primary btn-sm" ng-click="ctrl.generateEdiFiles()">Generate Edi Files</button>
    </div>
</div>