<table class="table table-responsive table-hover" ts-wrapper ts-item-name="Room">
    <thead>
        <th ts-criteria="id">ID</th>
        <th ts-criteria="code" ts-filter>Code</th>
        <th ts-criteria="description" ts-filter>Description</th>
        <th ts-criteria="_roomTypeDescription" ts-filter>Room Type</th>
        <th>Capacity</th>
        <th ng-show="showActions">Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="room in rooms" ts-repeat>
            <td>{{ room.id }}</td>
            <td>{{ room.code }}</td>
            <td>{{ room.description }}</td>
            <td>{{room._roomTypeDescription}}</td>
            <td>{{ room.capacity }}</td>
            <td ng-show="showActions">
                <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.editRooms(room.id)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<button ng-show="showActions" type="button" class="btn btn-primary btn-sm" ng-click="ctrl.addRooms()"><span class="glyphicon glyphicon-pencil"></span> Add</button>