<form id="rolesEditForm" name="rolesEditForm" role="form" novalidate show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
        <h4 class="modal-title" id="myToDoLabel">Add/Edit Role</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="form-group">
                <label for="roleName" class="control-label col-xs-4">Role Name:</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="roleName" name="roleName" type="text" class="form-control" ng-model="ctrl.role.roleName">
                </div>
            </div>
        </div>

        <div class="row" ng-show="false">
            <div class="form-group">
                <label for="roleDescription" class="control-label col-xs-4">Role Description:</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="roleDescription" name="roleDescription" type="text" class="form-control" ng-model="ctrl.role.roleDescription">
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.save()">
            <span class="glyphicon glyphicon-save"></span>
            Save
        </button>
    </div>

</form>