 <form id="staffILPEmailNotification" name="staffILPEmailNotification" role="form" novalidate show-validation>
     <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
         <h4 class="modal-title" id="myToDoLabel">Select Staff To Email</h4>
     </div>
     <div class="modal-body">
         <h4>Available for this student:</h4>
         <div class="row">
             <div class="col-xs-12">
                 <!-- <select ng-model="email.staffList" ng-options="i as i.staffInitials + '  -  ' + i.staffName + '  -  ' + i.relationship for i in staffList" multiple bs-duallistbox move-on-select="true" preserve-selection="moved" filter="true" select-min-height="400px" ng-required="true"></select> -->
                 <select ng-model="email.staffList" ng-options="i.staffId as i.staffInitials + '  -  ' + i.staffName + '  -  ' + i.relationship for i in staffList | orderBy:'staffName'" multiple bs-duallistbox move-on-select="true" preserve-selection="moved" filter="true" select-min-height="400px" ng-required="true"></select>
             </div>
         </div>




         <div class="row">
             <div class="form-group" ng-show="false">
                 <label for="id" class="control-label col-xs-12">ILP InterviewId:</label>
                 <div class="col-xs-12">
                     <input id="ilpInterviewId" class="form-control" ng-model="email.ilpInterviewId" ng-required="true"></input>
                 </div>
             </div>
         </div>

         <div class="row" permission="'ROLE_Developer'">
             <div class="col-xs-12" collapsible="'debugData1'" collapsible-title="'Debug Data'">
                 <!-- <pre>
             {{ studentRelatedStaff | json }}
             </pre> -->
                 ILP Interview Email:
                 <pre>
                 {{ email | json }}
                 </pre>
             </div>
         </div>
     </div>
     <div class="modal-footer">
         <button type="button" class="btn btn-primary" ng-disabled="emailForm.$invalid" ng-click="ctrl.sendStaffILPNotificationEmail()">Send Email</button>
         <button type="button" class="btn btn-primary" ng-disabled="emailForm.$invalid" ng-click="ctrl.testEmail()">Test Email</button>
         <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.cancel()">
             <span class="glyphicon glyphicon-ban-circle"></span> Close
         </button>
     </div>
 </form>