<table class="table table-responsive table-hover" ts-wrapper ts-item-name="Entry Qualification Type">
    <thead>
        <th ts-criteria="description" ts-filter>Description</th>
        <th ts-criteria="code">Code</th>
        <th ts-criteria="size">Size</th>
        <th ts-criteria="possibleGradeSet">Possible Grade Set</th>
        <th>Use Of Roe</th>
        <th ng-show="showActions">Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="entryQualificationType in entryQualificationTypes" ts-repeat>
            <td>{{ entryQualificationType.description }}</td>
            <td>{{ entryQualificationType.code }}</td>
            <td>{{ entryQualificationType.size }}</td>
            <td>{{ entryQualificationType._possibleGradeSetDescription }}</td>
            <td>{{ entryQualificationType.useOfRoe | yesNo }}</td>
            <td ng-show="showActions">
                <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.editEntryQualificationTypes(entryQualificationType.id)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<button ng-show="showActions" type="button" class="btn btn-primary btn-sm" ng-click="ctrl.addEntryQualificationTypes()"><span class="glyphicon glyphicon-pencil"></span> Add</button>