<div>
    <p>
        The following button is used to generate the student option entries for any course that the student's are currently enrolled on. The entries that are created are based on the data that is set in the Course List. Before you proceed ensure that all the
        correct links have been made within the Course List.
    </p>
    <p class="">
        Please note:
    <ul>
        <li>This operation <b>cannot be undone</b>. </li>
        <li>This operation <b>cannot be repeated</b>. </li>
    </ul>
    It is recommended that when the report has loaded that it is saved to an area for the exam officers future used.
    </p>
</div>
<div class="text-center">
    <report-link class="btn btn-lg btn-danger" report-path="'/CID/Exams/Student Option Entry Confirmation'" include-year="true">Generate Student Option Entries</report-link>
</div>